In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [18]:
df = pd.read_csv('data/homeprices_mv.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [19]:
df.bedrooms.median()

4.0

In [20]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

4

In [21]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [22]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedrooms', 'age']], df.price)

LinearRegression()

In [23]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [24]:
reg.intercept_

221323.00186540408

In [25]:
reg.predict([[3000, 3, 15]])

/Users/lizhiyi/opt/miniconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([579201.19929613])

In [26]:
3000 * 112.06244194 + 3 * 23388.88007794 -3231.71790863 * 15 + 221323.00186540408

579201.199289774